@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: none;
  }   
  
}
footer{
  flex-direction: row;
  margin-top: 500px;
}


.container{
  background-color: rgb(248, 237, 237);
  color: black;
  margin-top: 50px;
  margin-left: 10x;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.container > :first-child{
  flex-basis: 100%;
}

.header{
  
  align-self: center;
  text-align: center;
}
button{
  border-width: 1px;
  border-color: black;
}
