@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: none;
  }   
  
}
footer{
  flex-direction: row;
  margin-top: 500px;
}

.container{
  color: black;
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.container > :first-child{
  flex-basis: 100%;
}

.header{
  align-self: center;
  text-align: center;
}

.header-featured{
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
}

.para-featured{
  opacity: 0.7;
  font-size: 1.5rem;
  font-weight: 500;
}

.gradient-text {
  background: linear-gradient(90deg, #ff8c00, #ff4500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttonSearch{
  border-width: 1px;
  border-color: black;
}

.move-right{
  margin-left: 200px;
}